[package]
name = "aelys-native-macros"
version.workspace = true
edition = "2024"

[lib]
proc-macro = true
doctest = false

[dependencies]
syn = { version = "2.0", features = ["full", "parsing", "extra-traits"] }
quote = "1.0"
proc-macro2 = "1.0"
