* text=auto

*.rs text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.aelys text eol=lf
*.aasm text eol=lf
*.sh text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.dll binary
*.lib binary
*.a binary
*.so binary
*.dylib binary
*.exe binary

# exclude from github language detection
*.inc linguist-vendored
*.cpp linguist-vendored
